name: Deploy to AWS S3

on:
  workflow_run:
    workflows: ["Project CI Pipeline"]
    types:
      - completed

permissions:
  contents: read
  actions: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact from previous workflow
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: "Project CI Pipeline"
          name: build-folder
          path: build

      - name: Sync build folder to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          SOURCE_DIR: "./build"